<!-- <p>sale-amount works!</p> -->
<!-- <div>
    <label for="amount">Enter Sale Amount: </label>
    <input type="text" id="amount" [(ngModel)]="enteredAmount" (input)="formatInput()">
    <button (click)="submitAmount()">Submit</button>
  </div>
  
  <div *ngIf="submittedAmountNumber !== null">
    <p>Submitted Amount as Number: {{ submittedAmountNumber }}</p>
    <p>Submitted Amount multiplied by 0.07: {{ multipliedAmount }}</p>
    <p>Formatted Multiplied Amount: {{ multipliedAmount | number:'1.2-2' }}</p>
  </div> -->

  <div class="input-container">
    <label for="amount">Enter Sale Amount: </label>
    <input class="form-control" type="text" id="amount" [(ngModel)]="enteredAmount" appNumericInput>
    <span class="currency-placeholder">THB</span>
    
  </div>
  <button (click)="submitAmount()">Submit</button>
  
  <div *ngIf="submittedAmountNumber !== null">
    <p>Submitted Amount as Number: {{ submittedAmountNumber }}</p>
    <p>Submitted Amount multiplied by 0.07: {{ multipliedAmount }}</p>
    <p>Formatted Multiplied Amount: {{ multipliedAmount | number:'1.2-2' }}</p>
  </div>
  