<!-- <p>my-header works!</p>
<h1 class="text-center mb-0">Your Header Text</h1> -->
<!-- <span class="current-time">Time in Thailand: {{ currentTime | date: 'hh:mm' }} (GMT+7)  </span> -->
<header>
    <div class="d-flex justify-content-end">
    <p class="mb-0">Time in Thailand: {{ currentTime | date: 'hh:mm:ss a' }}&nbsp;</p>
    <p class="mb-0"> (GMT+7)&nbsp;</p>
    <p class="mb-0">{{ currentTime | date: 'd MMMM yyyy' }}&nbsp;</p>
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
    </p>
    <p class="mb-0">

    </p>
  </div>
  </header>
