<h1 class="header-fix"><b>Submit Tax Filing</b></h1>
<div class="container border border-dark rounded" style="width:60% ;height: 60%;">
    <div class="pad-30">
        <h2 class="d-flex justify-content-between"><b>Tax Filing Detail</b></h2>
        <hr class="my-3 border-3">
        <div class="container">
            <div class="little-gap">
                <p class=""><b>Type of filing</b></p>
                <p>value here</p>
            </div>
            <div class="little-gap">    
                <p class=""><b>VAT Month</b></p>
                <p>value here</p>
            </div>
        </div>
    </div>
    <div class="pad-30">
        <div>
            <h2 class="d-flex justify-content-between"><b>Tax Computation</b>
        </h2> 
        </div>
        <hr class="my-3 border-3">
        
        <div class="r_L">
            <p><b>Total value of taxable electronic service exclusive of VAT</b></p>
            <p>value  THB</p>
        </div>
        <div class="r_L">
            <p><b>Total VAT to be remitted</b></p>
            <p>value  THB</p>
        </div>
        <p style="justify-content: center;">asdsad</p>
            
        <div class="r_L">
            <p>2.Total VAT to be remitted (7% of 1.)</p>
            <p>value here</p>
        </div>
        

        
    </div>
   
</div>
<div class="container rounded button-location"  style="padding-bottom: 20px;">
        <button type="submit" class="btn btn-outline-dark ">Confirm and Submit</button>
</div>
