.header-fix{
    text-align: center;
    padding-top: 60px;
}
.pad-30{
    padding: 30px;
    padding-top: 15px;
}
.button-location {
    width: 60%;
    height: 60%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
 }

.r_L {
    display: flex;
    justify-content: space-between;
  }

  .little-gap {
    display: flex;
    justify-content: left; 
    gap: 5%;
}

.form-control::placeholder {
    text-align: right;
 }
  