<h1 class="header-fix"><b>Submit Tax Filing</b></h1>
<div class="container border border-dark rounded" style="width:60% ;height: 60%;">
    <div class="pad-30">
        <h2 class="d-flex justify-content-between"><b>Tax Filing Detail</b></h2>
        <hr class="my-3 border-3">
        <div class="container">
            <div class="little-gap">
                <p class=""><b>Type of filing</b></p>
                <div *ngIf="storedTaxData">
                    <div *ngIf="storedTaxData.filingType === '0'">
                        Ordinary Filing
                    </div>
                    <div *ngIf="storedTaxData.filingType === '1'">
                        Additional Filing
                    </div>
                </div>
            </div>
            <div class="little-gap">    
                <p class=""><b>VAT Month</b></p>
                <div *ngIf="storedTaxData">
                    {{ storedTaxData.month }}&nbsp;{{ storedTaxData.year }}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="pad-30">
        <div>
            <h2 class="d-flex justify-content-between"><b>Tax Computation</b>
        </h2> 
        </div>
        <hr class="my-3 border-3">
        
        <div class="r_L">
            <p><b>Total value of taxable electronic service exclusive of VAT</b></p>
            <div *ngIf="storedTaxData">
                {{ formatWithCommasAndDecimal(storedTaxData.saleAmount) }} THB
            </div>
        </div>
        <div class="r_L">
            <p><b>Total VAT to be remitted</b></p>
            <div *ngIf="storedTaxData">
                {{ formatWithCommasAndDecimal(storedTaxData.taxAmount) }} THB
            </div>
        </div>
        <p style="position: relative; bottom: 20px ;">(7%) of Total value of taxable electronic service excusive of VAT</p>
            
        <div *ngIf="storedTaxData">
            <div *ngIf="storedTaxData.filingType === '1'">
                <div class="r_L">
                    <p><b>Total Surcharge</b></p>
                    <div *ngIf="storedTaxData">
                        {{ formatWithCommasAndDecimal(storedTaxData.surcharge) }} THB
                    </div>
                </div>
                <div class="r_L">
                    <p><b>Total Penalty</b></p>
                    <div *ngIf="storedTaxData">
                        {{ formatWithCommasAndDecimal(storedTaxData.penalty) }} THB
                    </div>
                </div>
            </div>
        </div>

        <div class="r_L">
            <p><b>Total Amount Payable</b></p>
            <div *ngIf="storedTaxData">
                <div *ngIf="storedTaxData.filingType === '1' else filingTypeIsZero">
                    <!-- Content to show when condition is true -->
                    <b>{{ formatWithCommasAndDecimal(storedTaxData.totalAmount) }} THB</b>
                  </div>
                  <ng-template #filingTypeIsZero>
                    <!-- Content to show when condition is false -->
                    <b>{{ formatWithCommasAndDecimal(storedTaxData.taxAmount) }} THB</b>
                  </ng-template>

                <!-- <b>{{ formatWithCommasAndDecimal(storedTaxData.taxAmount) }} THB</b>
                <div *ngIf="storedTaxData.filingType === '1'">
                Additional Filing
                </div> -->
            </div>
        </div>
    </div>
    <div class="pad-30" style="position: relative; bottom: 30px ;">
        <div>
            <h2 class="d-flex justify-content-between"><b>Declaration</b></h2> 
        </div>
        <hr class="my-3 border-3">
        <p><b>I hereby certify that information given above are true and correct and agree to be bound by such information</b></p>
        
    </div>
   
</div>
<div class="container rounded button-location"  style="padding-bottom: 20px;">
        <button type="submit" (click)="confirmAndLog()" class="btn btn-outline-dark ">Confirm and Submit</button>
</div>

